* {
    padding: 0px;
    margin: 0px;
}

.navbar {
    background: linear-gradient( 265deg, rgba(204, 198, 198, 0.849), rgba(26, 24, 24, 0.548));
    height: 50px;
}

.logo {
    height: 150px;
    margin-bottom: 5%;
}

.nav-item {
    padding: 6px;
}

.nav-item .nav-link {
    color: black;
}

.img {
    height: 500px;
    width: 100%;
}

.faculty {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.content {
    display: flex;
    justify-content: center;
    background-color: azure;
    height: auto;
}

#content1 {
    background-color: chocolate;
    margin: 5%;
    padding: 2%;
}